*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
header {
            position: fixed; 
            top: 0; 
            left: 0; 
            width: 100%; 
            background-color: black;
            height: 90px;
			z-index: 10;
        }
        nav {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding-top: 20px;
            padding-left: 5%;
            padding-right: 5%;
            font-weight: bold;
        }
        img.logo {
            width: 100px;
        }
        ul li {
            display: inline-block;
            padding: 0px 20px;
        }
        a {
            color: white;
            text-decoration: none;
        }
        a:hover { 
            color: aqua;
        }
        #carrito-contenedor {
            position: fixed;
            top: 0;
            right: 0;
            width: 25%;
            height: 100%;
            background-color: #f8f9fa;
            box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
            transform: translateX(100%);
            transition: transform 0.5s ease-in-out;
            overflow-y: auto;
            padding: 20px;
            box-sizing: border-box;
            z-index: 1000;
        }
     
#carrito-contenedor.mostrar {
    transform: translateX(0);
}


@media (max-width: 1200px) {
    #carrito-contenedor {
        width: 30%;
    }
}

@media (max-width: 768px) {
    #carrito-contenedor {
        width: 40%; 
    }
}

@media (max-width: 480px) {
    #carrito-contenedor {
        width: 80%; 
    }
}



        .product-image {
            width: 5%;
            float: left;
            margin-right: 10px;
        }
        .cart-item {
            display: flex;
            align-items: center;
            margin-bottom: 10px;
            padding: 10px;
            border-bottom: 1px solid #ddd;
        }
        .cart-item img {
            width: 60px;
            height: auto;
            margin-right: 10px;
        }
        .cart-item h4 {
            margin: 0;
            font-size: 1em;
        }
        .cart-item p {
            margin: 5px 0;
            font-size: 0.9em;
        }
        #cart h2 {
            font-size: 1.5em;
            margin-bottom: 20px;
            text-align: center;
        }
        #total-price {
            font-size: 1.2em;
            font-weight: bold;
            margin-top: 20px;
            text-align: right;
        }
        .add-to-cart {
            background-color: #007bff;
            color: white;
            border: none;
            padding: 10px 20px;
            cursor: pointer;
            transition: background-color 0.3s;
        }
        .add-to-cart:hover {
            background-color: #0056b3;
        }
		

  .contenedor-principal {
    max-width: 100%;
    background-image: linear-gradient(to top, rgba(0,0,0,0), rgba(0,0,0,1));
    margin: 0 auto;
    text-align: center;
	  
}

		
  
  .contenedor-imagen {
    width: 420px; 
    height: 420px; 
    overflow: hidden; 
    border: 1px solid #ccc;
    display: inline-block; 
    margin: 0 5px;
	border-radius: 15px;
	   position: relative;
  }

  
  .imagen {
    width: 100%; 
    height: auto; 
    transition: transform 1s;
  }

 
  .imagen:hover {
    transform: scale(1.2); 
  }
		
	.texto {
    position: absolute;
    bottom: 20px; 
    left: 50%;
    transform: translateX(-50%); 
    text-align: center;
    background-color: rgba(0, 0, 0, 0.8); 
    padding: 20px;
    border-radius: 10px;
}

.texto h2 {
    margin-bottom: 10px;
	color: white; 
}

.texto p {
	color: white; 
}

.texto button {
	
   border: 1px solid white; 
            background-color: transparent; 
            color: transparent; 
            padding: 10px 20px; 
            cursor: pointer;
            transition: background-color 0.3s, color 0.3s; 
	color: white;
	
}

.texto button:hover {
   background-color: white; 
            color: black;
}
		
	footer {
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}
.add-to-cart {
    background-color: #6200ea;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 10px;
}

.add-to-cart:hover {
    background-color: #3700b3;
}

#products {
    display: flex;
    flex-wrap: wrap;
    padding: 1rem;
    justify-content: space-between; 
}

.product {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 10px;
    padding: 20px;
    width: calc(100% / 6 - 20px); 
    text-align: center;
    box-sizing: border-box;
}

.product img {
    width: 100%;
    border-radius: 10px;
}


@media (max-width: 1200px) {
    .product {
        width: calc(100% / 3 - 20px); 
    }
}

@media (max-width: 768px) {
    .product {
        width: calc(100% / 2 - 20px);
    }
}

@media (max-width: 480px) {
    .product {
        width: 100%; 
    }
}


#cart {
    margin-top: 2rem;
    padding: 1rem;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
}

#cart-items {
    list-style: none;
    padding: 0;
}

#cart-items li {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5rem;
}

.encabezadoimg {
    width: 100%;
    height: 500px;
}





.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    height: 1500px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

h1 {
    text-align: center;
}

p {
    text-align: center;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 30px 100px; 
}

.card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    margin: 10px;
    padding: 20px;
    width: 100px;  
    text-align: center;
    box-sizing: border-box;
    flex: 1 1 calc(30% - 40px); 
}

.icon {
    font-size: 40px;
    margin-bottom: 10px;
}


h3 {
    margin-bottom: 10px;
}


@media (max-width: 768px) {
    .card {
        flex: 1 1 calc(100% - 20px); 
    }
}


@media (max-width: 480px) {
    .card {
        flex: 1 1 100%; 
        max-width: 100%;
    }
}



footer{
    bottom: 0;
    left: 0;
    height: fit-content;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--dark);
    color: white;
    background-color: #121212;
}

.copyright-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
}

.copyright{
    font-size: 12px;
    opacity: 0.7;
    font-weight: 400;
    padding: 10px 0;
}

.footer-menus{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 40%;
}

.footer-container{
    height: fit-content;
    width: 100%;
    padding: 3rem 6rem;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.footer-content-container{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}

footer .website-logo{
    margin-bottom: 1.2rem;
    font-size: calc(1vw + 20px);
}

.footer-info, .menu-item-footer{
    margin: 0.2rem 0;
    opacity: 0.7;
    color: white;
    text-decoration: none;
    transition: 0.5s;
}

.menu-item-footer:hover{
    opacity: 1;
}

.menu-title{
    font-size: var(--medium-text-font);
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 1.2rem;
}

.social-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 100%;
}

.social-link{
    height: 100%;
    width: 30px;
    background-image: url(FacebookBlanco.png);
    background-size: 70%;
    background-position: center;
    margin-right: 1rem;
    background-repeat: no-repeat;
}

.social-link:hover{
    opacity: 0.7;
}

footer .social-link:nth-of-type(2){
    background-image: url(TwitterBlanco.png);
}

footer .social-link:nth-of-type(3){
    background-image: url(LinkedinBlanco.png);
}


/*MEDIA QUERY*/
@media (max-width: 768px){
    
    .footer-container{
        padding: 2rem;
        flex-direction: column;
    }

    .footer-content-container{
        width: 100%;
        padding: 2rem 0;
        border-bottom: 1px solid #2A2A2A;
        justify-content: center;
        align-items: center;
    }

    .footer-content-container:nth-of-type(1){
        align-items: flex-start;
    }
    .footer-content-container:nth-of-type(3){
        border-bottom: none;
        padding-bottom: 0;
    }

    .footer-menus{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        border-bottom: 1px solid #2A2A2A;
    }

    .footer-menus .footer-content-container:nth-of-type(1){
        width: 45%;
        align-items: flex-start;
        border-bottom: none;
    }
    .footer-menus .footer-content-container:nth-of-type(2){
        width: 45%;
        align-items: flex-start;
        border-bottom: none;
    }
}

